<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat | {{ room_name.capitalize }}</title>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'favicon/favicon.jpg' %}"/>
    {% include 'css/css.html' %}
</head>
<body class="flex flex-col h-screen">
    <div class="flex-none flex items-center border-b border-gray-300 pl-3 py-3">
        <img class="h-10 w-10 rounded-full object-cover"
             src="{% static 'img/default_group_image.png' %}"
             alt="group-image"/>
        <span class="block ml-2 font-bold text-base text-gray-600">{{ room_name.capitalize }}</span>
    </div>

    <div id="chat" class="flex-grow overflow-y-auto p-10 relative">
        <ul>
            <li class="clearfix2">
                {% for m in messages %}
                    {% if request.user.username == m.user.username %}
                        <div class="w-full flex justify-start">
                            <div class="bg-gray-100 rounded px-5 py-2 my-2 text-gray-700 relative break-words break-all"
                                    style="max-width: 300px;">
                                <strong><span class="block text-xs text-right">{{m.user.username}}</span></strong>
                                <span class="block">{{ m.content }}</span>
                                <span class="block text-xs text-right">{{ m.timestamp|date:'Y-m-d H:i' }}</span>
                            </div>
                        </div>
                    {% else %}
                        <div class="w-full flex justify-end">
                            <div class="bg-gray-100 rounded px-5 py-2 my-2 text-gray-700 relative break-words break-all"
                                    style="max-width: 300px;">
                                <strong><span class="block text-xs text-right">{{m.user.username}}</span></strong>
                                <span class="block">{{ m.content }}</span>
                                <span class="block text-xs text-left">{{ m.timestamp|date:'Y-m-d H:i' }}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                            <div id="chat-messages"></div>
                        </li>
                    </ul>
                </div>
                <div class="flex-none py-3 px-3 flex items-center justify-between border-t border-gray-300">
                    <textarea aria-placeholder="Escribe un mensaje aquí" placeholder="Start Chatting ..."
                            class="py-2 mx-3 pl-5 block w-full rounded-full bg-gray-100 outline-none focus:text-gray-700 resize-none"
                            name="message" id="chat-message-input" required></textarea>

                    <button class="outline-none focus:outline-none" id="chat-message-submit">
                        <svg class="text-gray-400 h-7 w-7 origin-center transform rotate-90"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{ room_name|json_script:"json-roomname" }}
    {{ username|json_script:"json-username" }}
    {{ req_username|json_script:"json-req-username" }}
    {% include 'js/js.html' %}
</body>
</html>
